.DS_Store
bin/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
.vscode/
/private/
/release/
/tools/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore Python virtual environment
.venv/
